# 依賴項
/node_modules
/jspm_packages

# 暫存與快取
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*
/lerna-debug.log*

# 環境與編譯輸出
/dist
/build
/out
/coverage
/es5
/es2015
/lib

# 編輯器與IDE設定
.vscode/
.idea/
*.swp
*.bak
.DS_Store

# 敏感資訊 (如果有的話)
.env
.env.*

# 憑證
*.key
*.pem