<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>打卡系統</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h1>公司打卡系統</h1>
        <hr>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <hr>
        <p>© 2025 ClockIn System</p>
    </footer>
</body>

</html>